
.stroke {
  fill: none;
  stroke: #000;
  stroke-width: 3px;
}

.fill {
  fill: #fff;
  fill-opacity: 0;
  stroke : #000;
  stroke-width: 3px;
}

.graticule {
  fill: none;
  stroke: #777;
  stroke-width: .5px;
  stroke-opacity: .5;
}

.land {
  fill: #000;
  fill-opacity:0.2;
  stroke: #fff;
  stroke-width: .75px;
}

.boundary {
  fill: none;
  stroke: #fff;
  stroke-width: .5px;
}
