@import 'normalize.css';
@import 'fonts.css';
/*@import 'modules.css';*/


*{
  color: #fff;
  font-family: 'Overpass','Noto Serif', sans-serif;
}

body {
    background-color: #151515;
    display: block;
    width: 100%;
    height: 100%;
}

h1{
  box-sizing: border-box;
  display: block;
  border-bottom: 1px solid #333;
  margin: 0;
  padding: 1rem;
  line-height: 2rem;
  font-size: 2rem;
  height: 4rem;
}

