.custom-range {
  --track-color: #424242;
  --thumb-color: #555bc8;
  --track-color-light: #4F4F4F;
  --thumb-color-light: #666DF0;

  --thumb-radius: 8px;
  --thumb-height: 30px;
  --thumb-width: 30px;
  --thumb-shadow-size: 1px;
  --thumb-shadow-blur: 1px;
  --thumb-shadow-color: #111;
  --thumb-shadow-color: #222;
  --thumb-border-width: 1px;
  --thumb-border-color: white;

  --track-radius: 5px;
  --track-width: 100%;
  --track-height: 10px;
  --track-shadow-size: 2px;
  --track-shadow-blur: 2px;
  --track-shadow-color: #222;
  --track-shadow-color-light: #333;
  --track-border-width: 1px;
  --track-border-color: black;
    
  -webkit-appearance: none;
  margin: calc(var(--thumb-height)/2) 0;
  width: var(--track-width);
}
.custom-range:focus {
  outline: none;
}
.custom-range::-webkit-slider-runnable-track {
  width: var(--track-width);
  height: var(--track-height);
  cursor: pointer;
  animate: 0.2s;
  box-shadow: var(--track-shadow-size) var(--track-shadow-size) var(--track-shadow-blur) var(--track-shadow-color), 0 0 var(--track-shadow-blur) var(--track-shadow-color-light);
  background: var(--track-color);
  border-radius: var(--track-radius);
  border: var(--track-border-width) solid var(--track-border-color);
}
.custom-range::-webkit-slider-thumb {
  box-shadow: var(--thumb-shadow-size) var(--thumb-shadow-size) var(--track-shadow-blur) var(--track-shadow-color), 0 0 var(--track-shadow-blur) var(--track-shadow-color-light);
  border: var(--thumb-border-width) solid var(--thumb-border-color);
  width: var(--thumb-width);
  height: var(--thumb-height);
  border-radius: var(--thumb-radius);
  background: var(--thumb-color);
  cursor: pointer;
  -webkit-appearance: none;
  position: relative;
  /*((-@track-border-width * 2 + @track-height) / 2) - (@thumb-height / 2);*/
  top: calc(var(--thumb-height)*-0.5 - var(--track-border-width) + var(--track-height)*0.5);
}
.custom-range:focus::-webkit-slider-runnable-track {
    background-color: var(--track-color-light);
}
.custom-range::-moz-range-track {
  width: var(--track-width);
  height: var(--track-height);
  cursor: pointer;
  animate: 0.2s;
  box-shadow: var(--track-shadow-size) var(--track-shadow-size) var(--track-shadow-blur) var(--track-shadow-color), 0 0 var(--track-shadow-blur) var(--track-shadow-color-light);
  background: var(--track-color);
  border-radius: var(--track-radius);
  border: var(--track-border-width) solid var(--track-border-color);
}
.custom-range::-moz-range-thumb {
  box-shadow: var(--thumb-shadow-size) var(--thumb-shadow-size) var(--track-shadow-blur) var(--track-shadow-color), 0 0 var(--track-shadow-blur) var(--track-shadow-color-light);
  border: var(--thumb-border-width) solid var(--thumb-border-color);
  width: var(--thumb-width);
  height: var(--thumb-height);
  border-radius: var(--thumb-radius);
  background: var(--thumb-color);
  cursor: pointer;
}