@import '../../css/range.css';
/*variables*/
:host{
    --track-color: #424242;
    --thumb-color: #32CD32;
    --track-color-light: #4F4F4F;
    --thumb-color-light: #666DF0;

    --thumb-height: 1rem;
    --thumb-width: var(--thumb-height);
    --thumb-radius: calc(var(--thumb-height)*0.5);
    --thumb-shadow-size: 1px;
    --thumb-shadow-blur: 1px;
    --thumb-shadow-color: #111;
    --thumb-shadow-color: #222;
    --thumb-border-width: 0px;
    --thumb-border-color: white;

    --track-radius: 0px;
    --track-width: 95%;
    --track-height: 0.4rem;
    --track-shadow-size: 2px;
    --track-shadow-blur: 2px;
    --track-shadow-color: #222;
    --track-shadow-color-light: #333;
    --track-border-width: 0px;
    --track-border-color: black;
}
/*set input to inherit variables*/
.control-bar-input{
    box-sizing: content-box;
    --track-color: inherit;
    --thumb-color: inherit;
    --track-color-light: inherit;
    --thumb-color-light: inherit;

    --thumb-height: inherit;
    --thumb-width: inherit;
    --thumb-radius: inherit;
    --thumb-shadow-size: inherit;
    --thumb-shadow-blur: inherit;
    --thumb-shadow-color: inherit;
    --thumb-shadow-color: inherit;
    --thumb-border-width: inherit;
    --thumb-border-color: inherit;

    --track-radius: inherit;
    --track-width: inherit;
    --track-height: inherit;
    --track-shadow-size: inherit;
    --track-shadow-blur: inherit;
    --track-shadow-color: inherit;
    --track-shadow-color-light: inherit;
    --track-border-width: inherit;
    --track-border-color: inherit;
}

/*futher styling*/
:host{
    align-items:center;
    border-top: 1px solid #333;
    box-sizing: border-box;
    display:flex;
    height: 7rem;
    width: 100%;
    justify-content:center;
    margin: 0;
    padding-left: 0;
    padding-top: 0rem;
}
/*T*/
.control-bar-input:after{
  content: attr(time);
  display: block;
  box-sizing: content-box;
  height: 1.5rem;
  min-width: 17rem;
  position: absolute;
  margin-top: -3rem;
  right: calc(50% - 9rem);
  border-radius: .1rem;
  font-size: 1.3rem;
  line-height: 1.5rem;
  padding: 0.1rem 1rem;
  text-align: right;
  color: #aaa;
  background-color: #222;
  border: 0.3rem solid #444;
}
.control-bar-input{
  box-sizing: content-box;
  margin-top: 3rem;
  display: block;
  margin-left:auto;margin-right:auto;
}
.control-bar-input::before {
  cursor: pointer;
  box-sizing: content-box;
  content: '';
  display: inline-block;
  position: absolute;
  width: calc((var(--track-width) - var(--thumb-width)) * var(--value));
  height: var(--track-height);
  background-color: var(--thumb-color);
  /*z-index: 5;
  background-color: red;*/
  /*background-color:red;*/
}

.control-bar-container{
    width: 100%;
    height: auto;
    margin: 0.5rem 0rem;
    text-align: center;
}

.icon-button{
    font:normal normal normal 1rem/1 FontAwesome;
    font-size:inherit;
    text-rendering:auto;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    
    font-size: 1.5rem;
    
    height: 2rem;
    width: 2rem;
    display: inline-block;
    background-color: transparent;
    border: 0px;
    color: #aaa;
    cursor: pointer;
    outline: none;
    
    transition: color 0.2s;
    margin-left: 1rem;
}
.icon-button:hover{
    color: #eee;
}
.play-stepper-button:before{
    content:"\f04b";
}
.pause-stepper-button:before{
    content:"\f04c";
}
.step-fast-forward-button:before{
    content:"\f050";
}
.step-forward-button:before{
    content:"\f051";
}
.step-fast-backward-button:before{
    content:"\f049";
}
.step-backward-button:before{
    content:"\f048";
}
.play-button, .pause-button{
  position: absolute;
  left: 1rem;
  font-size: 2rem;
}
.play-button:before{
    content:"\f01d";  /*Play icon font awesome*/
}
.pause-button:before{
    content:"\f28c"; /*Pause icon font awesome*/
}
