:host{
  display: block;
  height: calc(100vh - 7rem - 4rem);
  min-height: 30rem;
}
.output-display-container{
  width: 100%;
  height: 100%;
  background-image: url(../../img/hexagon.svg);
  background-size: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*button and link*/
button {
	background-color:#32cd32;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #18ab29;
	display:block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
button:hover {
	background-color:#1ba81b;
}
button:active {
	position:relative;
	top:1px;
}
.downloadLink{
  display: block;
  color: #fff;
  text-align: center;
  margin-top: 1rem;
}

/*tables*/
table{
  border-collapse: collapse
}
td,th{
  border: 1px solid #999;
  padding: 1rem;
  text-align: left;
}

/*map*/
svg{
  z-index: 2;
  cursor: move;
  position: relative;
}
.heatmap{
  position: absolute;
  z-index: 1;
  pointer-events: none;
}
.colorScale{
  position: absolute;
  z-index: 1;
  background: linear-gradient(to bottom, hsl(0,100%,50%) 0%, hsl(60,100%,50%) 25%, hsl(120,100%,50%) 50%, hsl(180,100%,50%) 75%, hsl(240,100%,50%) 100%);
  height: calc(90vh - 7rem);
  width:  2rem;
  right: 3rem;
  top: 4.5rem;
  border: 0.1rem solid black;
}
.colorScaleUnit{
  margin-top: 0.3rem;
  color: #ddd;
  font-style: italic;
}
.colorScaleIndicator{
  position: absolute;
  box-sizing: border-box;
  height: 0.5rem;
  width: 1.6rem;
  background-color: #fff;
  border: 0.1rem solid #151515;
  top: calc( (475 - var(--value)) / 475 * (90vh - 7rem) - 0.125rem);
  left: 0.2rem;
  border-radius: 0.25rem;
}
.colorScaleIndicator:after{
  content: attr(data-value);
  display: block;
  margin-left: 2.5rem;
  margin-top: -0.25rem;
}
.colorScale ul{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
  margin: 0 0 0 -3rem;
  padding: 0;
  height: 100%;
}
.colorScale li{
  line-height: 1rem;
  font-size: 1rem;
  height: 1rem;
}
.colorScale li:after{
  content: '';
  width: 2rem;
  height: 0.2rem;
  position: relative;
  display: block;
  left: 3rem;
  top: calc(var(--list-progression) * -1rem );
  background: linear-gradient(to right, black 0%,black 20%,hsl(calc((1 - var(--list-progression))*240), 100%, 50%) 21%,hsl(calc((1 - var(--list-progression))*240), 100%, 50%) 79%,black 80%,black 100%);
}

