:host{
  display: block;
  width: 5rem;
  height: 5rem;
  /*background-color: #555;*/
}
div{
  content: '';
  display: block;
  position: absolute;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: transparent;
  opacity: 0.8;
  border: 0.5rem solid #32CD32;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}
div:nth-of-type(1){
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}